<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      node_env="development"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
    />
  </system.webServer>
</configuration>
